<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Payment Admin List</title>
</head>
<body>
<h1>Payment Admin List</h1>
<table border="1">
  <thead>
  <tr>
    <th>Payment Id</th>
    <th>Method</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="payment : ${payments}">
    <td th:text="${payment.id}"></td>
    <td th:text="${payment.method}"></td>
    <td th:text="${payment.status}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>