<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Payment Admin Detail</title>
</head>
<body>
<h1>Payment Admin Detail</h1>
<p th:text="${payment.id}"></p>
<p th:text="${payment.method}"></p>
<p th:text="${payment.status}"></p>

<form th:action="@{/payment/admin/set-status/{paymentId}(paymentId=${payment.id})}" method="post">
  <select name="status">
    <option value="SUCCESS">SUCCESS</option>
    <option value="REJECTED">REJECTED</option>
  </select>
  <button type="submit">Update Status</button>
</form>
</body>
</html>